* {
  box-sizing: border-box;
}

.autocomplete {
  padding-bottom: 200px;
}

input {
  font-family: 'Open sans', sans-serif;
  width: 350px;
  font-size: 20px;
  padding: 10px 15px;
  margin: 0;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  outline-color: darkorange;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  position: absolute;
  border: 1px solid #999;
  list-style: none;
  margin-top: 0;
  max-height: 160px;
  overflow-y: auto;
  padding: 0px;
  border-radius: 0 0 5px 5px;
  font-size: 20px;
  width: 350px;
  background: rgba(255, 255, 255, 0.85);
  border-top: 1px solid gray;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
  background: rgba(250, 209, 125, 0.85);
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}