@import './variables.scss';

.overlay {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: rgba(90, 90, 90, 0.5);
  cursor: pointer;
  z-index: 10;
}

.beer-description {
  position: absolute;
  margin: -150px 0 0 -300px;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  width: 600px;
  background: #fff;
  z-index:11;
  border: 2px solid $secondary-color;
  cursor: default;
  
  h3 {
    text-align: center;
    color: $primary-color;
  }
}

.beer-stuff {
  margin-left: 40px;
  color: $third-color;
  font-size: 20px;
}

.click-me {
  color: #fff;
  font-size: 18px;
  margin: 20px 50px;
  width: 500px;
  height: 35px;
  transition: background-color .3s ease-in-out;
  cursor: pointe;

  background-color: $secondary-color;

  &:hover {
  background-color: $primary-color;
  }
}