
.brewery-label {
  transition: box-shadow .3s ease-in-out;
  font-size: 15px;
  background-color: #f9a960;
  margin: 20px 0;
  border-radius: 3px;
  border: 5px solid #f9a960;
}

.brewery-label:hover {
  box-shadow: 0 0 14px rgba(33,33,33,.4);
}

.brewery-header:hover {
  background-color: #f9a960;
}

.brewery-header h2 {
  flex: 15;
  padding: 20px;
  margin: 0px;
}

.brewery-header {
  display: flex;
  align-items: center;
  transition: background-color .3s ease-in-out;
  background-color: #f78f2f;
  margin: 0;
  padding: 0px 20px;
  color: white;
}

.fa-star {
  font-size: 20px;
  color: white;
  flex: 1;
}

.fa-star:hover {
  color: #f7e2ba;
}
