* {
  box-sizing: border-box;
}

.location-container {
  width: 400px;
}

.dropdown-header {
  font-weight: 400;
  font-size: 20px;
  padding: 15px 0;
  margin: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}

.dropdown-header:hover {
  background: rgba(250, 209, 125, 0.75);
  cursor: pointer;
}

.select-expanded {
  border-radius: 5px 5px 0 0;
}

ul.state-dropdown {
  list-style-type: none;
  position: absolute;
  height: 35%;
  overflow: auto;
  padding: 0;
  margin: 0;
  border-radius: 0 0 5px 5px;
}

li.state-dropdown-options {
  font-size: 20px;
  padding: 10px 20px;
  width: 400px;
  background: rgba(255, 255, 255, 0.85);
  border-top: 1px solid gray;
}

li.state-dropdown-options:hover {
  background: rgba(250, 209, 125, 0.85);
}

